
@page
@using suivi_des_drones.Core.Models
@model IndexModel
@{
    ViewData["Title"] = "Page accueil";

 //   string title = "Suivi des drones"; // 1° Etape : .ToUpper();
}

@functions
{
    string title = "Suivi des drones";

    List<Drone> PrepareListOfDrones()
    {
        return this.Model.Drones;
    }

    string GetTitle()
    {
        return this.title.ToUpper();
    }

    List<HealthStatus> PrepareListStatus()
    {
        return this.Model.StatusList;
    }
}

<h1>@this.GetTitle()</h1>

<div class="row">
    <div class="col">Statut : </div>
    <div class="col">
        <select>
            @foreach(var status in this.PrepareListStatus())
            {
                <option value="@status.Id">@status.Label</option>
            }
        </select>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Matricule</th>
            <th>Date de création</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var drone in this.PrepareListOfDrones())
        {
            <tr>
                <td>
                    @drone.Matricule
                </td>
                <td>
                    @drone.CreationDate.ToString("dddd dd MMMM yy HH:mm")
                </td>
            </tr>
        }
    </tbody>
</table>
